.page-footer {
  margin: 0;
}

.page-footer__tag {
  display: block;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 28px;
  padding-left: 70px;
  padding-bottom: 34px;
}

.page-footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
