.video {
  margin: 0;
}

.video__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  margin-bottom: 35px;
}

.video__desc {
  margin: 0;
  margin-bottom: 38px;
  text-transform: uppercase;
}
