@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
.page {
  margin: 0;
}

.body {
  height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
}
@media (min-width: 768px) {
  .body {
    max-width: 768px;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .body {
    max-width: 1200px;
    height: 100%;
  }
}

.area {
  margin: 0 auto;
}

.area__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding-top: 24px;
  margin-bottom: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .area__title {
    position: relative;
    margin-bottom: 28px;
  }

  .area__title::before {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    left: -210px;
    top: 35px;
  }

  .area__title::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    left: 312px;
    top: 35px;
  }
}
@media (min-width: 1200px) {
  .area__title {
    position: relative;
  }

  .area__title::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
    left: -367px;
    top: 35px;
  }

  .area__title::after {
    content: "";
    position: absolute;
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
    left: 312px;
    top: 35px;
  }
}
.area__comment {
  color: rgba(0, 0, 0, 0.3);
  padding: 16px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 56px;
  min-width: 279px;
  height: 150px;
  background-color: #f2f2f2;
  border: 0;
  outline: 0;
  text-align: left;
}
.area__comment:hover {
  background-color: #e5e5e5;
  color: #000000;
}
.area__comment:focus {
  color: #000000;
  background: none;
  border: solid 4px #e5e5e5;
}
@media (min-width: 768px) {
  .area__comment {
    width: 648px;
    min-height: 160px;
  }
}
@media (min-width: 1200px) {
  .area__comment {
    width: 768px;
  }
}

.benefits {
  position: relative;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 768px) {
  .benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.benefits::after {
  content: "";
  position: absolute;
  background-image: url("../img/triangle.svg");
  width: 50%;
  height: 37px;
  background-repeat: no-repeat;
  background-position: right;
  top: 0;
}
@media (min-width: 768px) {
  .benefits::after {
    display: none;
  }
}
.benefits::before {
  content: "";
  position: absolute;
  background-image: url("../img/triangle1.svg");
  width: 50%;
  height: 37px;
  background-repeat: no-repeat;
  background-position: left;
  top: 0;
  right: 0;
}
@media (min-width: 768px) {
  .benefits::before {
    display: none;
  }
}

.benefits__item {
  margin: 0 auto;
}

.benefits__title {
  display: block;
  margin: 0;
  margin-bottom: 14px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}
@media (min-width: 768px) {
  .benefits__title {
    font-size: 21px;
    text-align: center;
  }
}

.benefits__title--advice {
  text-align: start;
}
@media (min-width: 768px) {
  .benefits__title--advice {
    text-align: center;
    font-size: 21px;
    margin-bottom: 25px;
  }
}

.benefits__description {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.benefits__description--advice {
  text-align: start;
}
@media (min-width: 768px) {
  .benefits__description--advice {
    text-align: center;
  }
}

.benefits__item--icon1 {
  background-image: url("../img/house.svg");
  background-repeat: no-repeat;
  background-position: 18px 25px;
}
@media (min-width: 768px) {
  .benefits__item--icon1 {
    background-size: 75px 72px;
    background-position: 50% 25%;
  }
}

.benefits__item--icon2 {
  background-image: url("../img/burger.svg");
  background-repeat: no-repeat;
  background-position: 18px 25px;
}
@media (min-width: 768px) {
  .benefits__item--icon2 {
    background-size: 75px 69px;
    background-position: 50% 25%;
  }
}

.benefits__item--icon3 {
  background-image: url("../img/gift.svg");
  background-repeat: no-repeat;
  background-position: 18px 25px;
}
@media (min-width: 768px) {
  .benefits__item--icon3 {
    background-size: 63px 75px;
    background-position: 50% 25%;
  }
}

.benefits__description--number {
  display: block;
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .benefits__description--number {
    margin-bottom: 22px;
  }
}

.benefits__picture {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .benefits__picture {
    min-width: 512px;
    height: 256px;
  }
}
@media (min-width: 1200px) {
  .benefits__picture {
    min-width: 800px;
    height: 256px;
  }
}

.benefits__item-wrapper {
  margin: 0;
}

.benefits__item--theme {
  background-color: #81b3d2;
  color: #ffffff;
}
@media (min-width: 768px) {
  .benefits__item--theme {
    display: flex;
    flex-direction: row;
  }
}

.benefits__item--advice {
  background-color: #ffffff;
  padding-top: 30px;
  padding-left: 66px;
  padding-right: 18px;
}
@media (min-width: 768px) {
  .benefits__item--advice {
    max-width: 256px;
    margin: 0;
    box-sizing: border-box;
    padding-top: 158px;
    padding-bottom: 59px;
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (min-width: 1200px) {
  .benefits__item--advice {
    max-width: 400px;
    margin: 0;
  }
}

.benefits__item--view {
  position: relative;
  background-color: #eeeeee;
  padding: 25px;
  padding-left: 35px;
  padding-right: 35px;
}
@media (min-width: 768px) {
  .benefits__item--view {
    max-width: 256px;
    margin: 0;
    box-sizing: border-box;
    padding-top: 42px;
    padding-bottom: 63px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media (min-width: 1200px) {
  .benefits__item--view {
    max-width: 400px;
    margin: 0;
    min-height: 256px;
  }
}
.benefits__item--view::after {
  position: absolute;
  content: "";
  background-color: #d6d6d6;
  text-align: center;
  width: 85%;
  height: 1px;
  z-index: 1;
  bottom: 0;
}
@media (min-width: 768px) {
  .benefits__item--view::after {
    display: none;
  }
}

.benefits__item--view:last-child::after {
  display: none;
}

.benefits__item-wrapper--one {
  max-width: 320px;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 40px;
  padding-left: 16px;
  padding-right: 22px;
}
@media (min-width: 768px) {
  .benefits__item-wrapper--one {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
  }
}
@media (min-width: 1200px) {
  .benefits__item-wrapper--one {
    max-width: 400px;
    margin: 0;
  }
}

.benefits__item-wrapper--two {
  max-width: 320px;
  margin: 0 auto;
  padding-top: 39px;
  padding-bottom: 35px;
  padding-left: 15px;
  padding-right: 16px;
  margin-top: 52px;
  order: 1;
}
@media (min-width: 768px) {
  .benefits__item-wrapper--two {
    margin-top: 0;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 43px;
  }
}
@media (min-width: 1200px) {
  .benefits__item-wrapper--two {
    max-width: 400px;
    margin: 0;
  }
}

.betton {
  border: 0;
}

.catalog {
  margin: 0 auto;
}

.catalog__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .catalog__list {
    display: grid;
    grid-template-columns: 324px 324px;
    margin: auto;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 58px;
  }
}
@media (min-width: 1200px) {
  .catalog__list {
    margin: 0;
    margin-bottom: 62px;
    grid-template-columns: 400px 400px 400px;
  }
}

.catalog__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-top: 15px;
  padding-right: 27px;
}
@media (min-width: 768px) {
  .catalog__wrapper {
    background-color: #f2f2f2;
    padding-top: 22px;
    padding-left: 20px;
    padding-bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .catalog__wrapper {
    color: #ffffff;
  }
  .catalog__wrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: #000000;
    opacity: 30%;
    left: 0;
    bottom: 0;
  }
}

@media (min-width: 768px) {
  .catalog__wrapper--dark {
    background-color: #eaeaea;
  }
}
@media (min-width: 1200px) {
  .catalog__wrapper--dark {
    color: #ffffff;
  }
}

.catalog__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.catalog__desc {
  margin: 0;
}

.catalog__likes {
  font-weight: 700;
  margin: 0;
}

.catalog__button {
  cursor: pointer;
  border: 0;
  display: inline-block;
  background: none;
}

.catalog__item {
  position: relative;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .catalog__item {
    margin: 0;
    padding: 0;
  }
}
.catalog__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  bottom: 0;
  left: 0;
}
@media (min-width: 768px) {
  .catalog__item::after {
    display: none;
  }
}

.catalog__item--big {
  margin: 0;
}
@media (min-width: 768px) {
  .catalog__item--big {
    grid-column: 1/3;
  }
}
@media (min-width: 1200px) {
  .catalog__item--big {
    grid-column: 1/4;
  }
}

.catalog__video {
  padding-left: 20px;
  padding-right: 20px;
}

.catalog__image {
  display: block;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .catalog__image {
    width: 324px;
    height: 267px;
  }
}
@media (min-width: 1200px) {
  .catalog__image {
    width: 400px;
    height: 267px;
    margin-bottom: -80px;
  }
}

.catalog__image--big {
  display: block;
}
@media (min-width: 768px) {
  .catalog__image--big {
    width: 648px;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .catalog__image--big {
    width: 1200px;
    height: 400px;
  }
}

.catalog__icon {
  fill: #000000;
  opacity: 30%;
}
@media (min-width: 1200px) {
  .catalog__icon {
    fill: #ffffff;
    opacity: 100%;
  }
}

.check {
  margin: 0;
}

.check__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 82px;
}
@media (min-width: 768px) {
  .check__list {
    display: grid;
    grid-template-columns: 240px 240px;
  }
}
@media (min-width: 1200px) {
  .check__list {
    grid-template-columns: 236px 236px 236px 236px;
  }
}

.check__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding-top: 24px;
  text-align: center;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .check__title {
    position: relative;
    margin-bottom: 38px;
    margin-right: 263px;
  }

  .check__title::before {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    left: -200px;
    top: 35px;
  }

  .check__title::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    left: 320px;
    top: 35px;
  }
}
@media (min-width: 1200px) {
  .check__title {
    position: relative;
    margin-bottom: 55px;
    margin-right: 447px;
  }

  .check__title::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
    left: -390px;
    top: 35px;
  }

  .check__title::after {
    content: "";
    position: absolute;
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
    left: 290px;
    top: 35px;
  }
}
.check__item {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 35px;
}

.check__label {
  display: block;
  position: relative;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.check__mark {
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 4px;
  left: -70px;
  top: -10px;
}
.check__mark:hover {
  background-color: #e5e5e5;
}

.check__input[type=checkbox]:focus + .check__mark {
  background-color: #d5d5d5;
}

.check__input[type=checkbox]:checked + .check__mark::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 16px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  top: 13px;
  left: 15px;
}

.contacts {
  margin: 0;
}

@media (min-width: 768px) {
  .contacts {
    position: relative;
  }

  .contacts::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 338px;
    background-color: #dbdbdb;
    left: 7px;
    top: -60px;
  }
}
.contacts__input {
  background-color: #f2f2f2;
  border: 4px solid transparent;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  margin-bottom: 37px;
  color: rgba(0, 0, 0, 0.3);
  padding: 16px;
  width: 87%;
}
.contacts__input:hover {
  background-color: #e5e5e5;
  color: #000000;
}
.contacts__input:focus {
  color: #000000;
  background: none;
  border: solid 4px #e5e5e5;
}
@media (min-width: 1200px) {
  .contacts__input {
    max-width: 402px;
  }
}

.contacts__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  text-align: center;
  padding-top: 24px;
  margin-bottom: 41px;
}
@media (min-width: 768px) {
  .contacts__title {
    padding-top: 0;
    margin-bottom: 49px;
  }
}

.contacts__field {
  position: relative;
}
.contacts__field::before {
  content: "";
  position: absolute;
  width: 66px;
  height: 66px;
  background-color: #e6e6e6;
  right: 0;
}

.contacts__field--phone {
  position: relative;
}
.contacts__field--phone::before {
  position: absolute;
  content: "";
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__field--mail {
  position: relative;
}
.contacts__field--mail::before {
  position: absolute;
  content: "";
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__lable {
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: -23px;
  left: 14px;
}

.contacts__field__container {
  position: relative;
}

.content {
  margin: 0;
  text-transform: uppercase;
}

.content__title {
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 auto;
  max-width: 282px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .content__title {
    font-size: 21px;
    max-width: 520px;
    margin-top: 47px;
  }
  .content__title br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .content__title {
    margin-top: 59px;
    max-width: 483px;
  }
}

.content__description {
  display: block;
  margin: 0 auto;
  max-width: 282px;
  text-align: center;
  margin-bottom: 48px;
}
@media (min-width: 768px) {
  .content__description {
    max-width: 520px;
  }
}

.creators {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .creators {
    margin-bottom: 0;
  }
}

.creators__text {
  display: block;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  margin-top: 10px;
  margin-right: 15px;
}

.creators__icon {
  fill: #000000;
}
.creators__icon:hover {
  fill: #81b3d2;
}
.creators__icon:active {
  fill: #b3b3b3;
}

.form {
  margin: 0;
}

.lead {
  position: relative;
  margin: 0;
  margin-top: 33px;
}
@media (min-width: 768px) {
  .lead {
    margin-top: 62px;
  }
}
@media (min-width: 1200px) {
  .lead {
    margin-top: 100px;
  }
}
.lead::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  bottom: 0;
  left: 0;
}
@media (min-width: 768px) {
  .lead::after {
    display: none;
  }
}

.lead__title {
  display: block;
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}
@media (min-width: 768px) {
  .lead__title {
    font-size: 30px;
  }
}

.lead__description {
  display: block;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  min-width: 280px;
  text-align: center;
}
@media (min-width: 768px) {
  .lead__description {
    max-width: 435px;
    margin-left: 155px;
    margin-bottom: 102px;
    padding-bottom: 0;
  }
  .lead__description br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .lead__description {
    margin-left: 370px;
    margin-bottom: 67px;
  }
}

.main {
  margin: 0;
}

.main__pic {
  position: relative;
  background-color: #81b3d2;
  background-image: url("../img/backmob1.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  background-size: cover;
  background-position: 45%;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .main__pic {
    background-image: url("../img/backmob@2x.jpg");
  }
}
@media (min-width: 768px) {
  .main__pic {
    background-image: url("../img/backdesktop.jpg");
    background-position-y: 30%;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .main__pic {
    background-image: url("../img/backdesktop@2x.jpg");
    background-size: 1200px auto;
  }
}
.main__pic::after {
  content: "";
  position: absolute;
  background-image: url("../img/dev1.svg");
  width: 50%;
  height: 57px;
  background-repeat: no-repeat;
  background-position: right;
  bottom: 0;
}
.main__pic::before {
  content: "";
  position: absolute;
  background-image: url("../img/dev2.svg");
  width: 50%;
  height: 57px;
  background-repeat: no-repeat;
  background-position: left;
  bottom: 0;
  right: 0;
}

.main__image {
  display: block;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 85px;
}
@media (min-width: 768px) {
  .main__image {
    width: 461px;
    height: 350px;
    padding-top: 77px;
    padding-bottom: 90px;
  }
}

.main-content {
  margin: 0;
}

.main-content__pic {
  position: relative;
  background-color: #81b3d3;
  background-image: url("../img/backmob2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  box-sizing: border-box;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .main-content__pic {
    background-image: url("../img/backmob2@2x.jpg");
  }
}
@media (min-width: 768px) {
  .main-content__pic {
    background-image: url("../img/backdesktop2.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .main-content__pic {
    background-image: url("../img/backdesktop2@2x.jpg");
  }
}
.main-content__pic::after {
  content: "";
  position: absolute;
  background-image: url("../img/dev1.svg");
  width: 50%;
  height: 57px;
  background-repeat: no-repeat;
  background-position: right;
  bottom: 0;
}
.main-content__pic::before {
  content: "";
  position: absolute;
  background-image: url("../img/dev2.svg");
  width: 50%;
  height: 57px;
  background-repeat: no-repeat;
  background-position: left;
  bottom: 0;
  right: 0;
}

.main-content__image {
  display: block;
  margin: 0 auto;
  padding-top: 52px;
  padding-bottom: 67px;
}
@media (min-width: 768px) {
  .main-content__image {
    width: 457px;
    height: 78px;
    padding-top: 95px;
    padding-bottom: 117px;
  }
}
@media (min-width: 1200px) {
  .main-content__image {
    width: 460px;
    height: 80px;
    padding-top: 101px;
    padding-bottom: 120px;
  }
}

.map {
  margin: o;
  position: relative;
}
.map::after {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  background-color: #81b3d3;
  border-radius: 50%;
  border: solid 5px #ffffff;
  bottom: 50%;
  left: 50%;
}

.map iframe {
  border: none;
  display: block;
}
@media (min-width: 768px) {
  .map iframe {
    min-width: 768px;
  }
}
@media (min-width: 1200px) {
  .map iframe {
    min-width: 1200px;
  }
}

.modal {
  margin: 0;
}

.modal__title {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .modal__title {
    font-size: 30px;
    line-height: 40px;
  }
}

.modal__descript {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .modal__descript {
    font-size: 21px;
  }
}

.modal__descript--one {
  min-width: 237px;
}
@media (min-width: 768px) {
  .modal__descript--one {
    min-width: 307px;
  }
}

.modal__descript--two {
  min-width: 244px;
}
@media (min-width: 768px) {
  .modal__descript--two {
    min-width: 444px;
  }
}

.modal__close {
  display: block;
  background: #81b3d2;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  border: 0;
  padding-top: 18px;
  padding-bottom: 14px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .modal__close {
    font-size: 21px;
  }
}
.modal__close:hover {
  background-color: #669ec0;
}
.modal__close:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.modal__close:disabled {
  background-color: #e5e5e5;
}

.modal__close--one {
  padding-left: 63px;
  padding-right: 63px;
}
@media (min-width: 768px) {
  .modal__close--one {
    padding-left: 107px;
    padding-right: 107px;
  }
}

.modal__close--two {
  padding-left: 61px;
  padding-right: 61px;
}
@media (min-width: 768px) {
  .modal__close--two {
    padding-left: 140px;
    padding-right: 140px;
  }
}

.modal__wrapper {
  text-align: center;
}

.modal__wrapper--one {
  padding-top: 45px;
  padding-left: 41px;
  padding-right: 41px;
  padding-bottom: 35px;
}

.modal__wrapper--two {
  padding: 39px;
}

.modal-close.scss {
  margin: 0;
}

.name {
  margin: 0;
}

.name__field {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}
@media (min-width: 1200px) {
  .name__field {
    padding-right: 50px;
  }
}

.name__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin-bottom: 41px;
}
@media (min-width: 768px) {
  .name__title {
    margin-bottom: 49px;
  }
}

.name__write {
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.3);
  border: 4px solid transparent;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  padding: 16px;
  width: 87%;
  margin-bottom: 37px;
}
.name__write:hover {
  background-color: #e5e5e5;
  color: #000000;
}
.name__write:focus {
  color: #000000;
  background: none;
  border: solid 4px #e5e5e5;
}

.name__lable {
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: -23px;
  left: 14px;
}

.nav {
  width: 100%;
  top: 0;
  background-color: #81b3d2;
  color: #ffffff;
  margin: 0;
  margin-top: 40px;
  padding: 0;
}
@media (min-width: 768px) {
  .nav {
    position: relative;
    background-color: #ffffff;
    z-index: 0;
    margin-top: 0;
  }
}

.nav--opened {
  position: absolute;
  z-index: 3;
  margin-top: 0;
}

.nav--closed {
  margin-top: -40px;
}
@media (min-width: 768px) {
  .nav--closed {
    margin-top: 0;
  }
}

.nav__link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.nav__link:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .nav__link {
    color: #000000;
    font-size: 14px;
    line-height: 21px;
  }
  .nav__link:hover {
    color: #81b3d2;
  }
  .nav__link:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.nav__link--current {
  color: #ffffff;
}
@media (min-width: 768px) {
  .nav__link--current {
    color: #766357;
    font-size: 14px;
    line-height: 21px;
  }
  .nav__link--current:hover {
    color: #81b3d2;
  }
  .nav__link--current:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.nav__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .nav__list {
    flex-direction: row;
    justify-content: space-between;
  }
}

.nav__item {
  text-align: center;
}
.nav__item:hover {
  background-color: #669ec0;
}
.nav__item:active {
  background-color: #5496bd;
}
@media (min-width: 768px) {
  .nav__item {
    background-color: #ffffff;
  }
  .nav__item:hover {
    background-color: #ffffff;
  }
}

.nav__wrapper {
  width: 100%;
  box-sizing: border-box;
  min-height: 55px;
  padding-top: 17px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .nav__wrapper {
    min-width: 153px;
    padding-top: 18px;
    padding-bottom: 17px;
  }
}
@media (min-width: 1200px) {
  .nav__wrapper {
    min-width: 220px;
  }
}

.nav__item:nth-child(2) {
  margin: 0;
}
@media (min-width: 768px) {
  .nav__item:nth-child(2) {
    max-width: 153px;
    margin-right: 153px;
  }
}
@media (min-width: 1200px) {
  .nav__item:nth-child(2) {
    max-width: 220px;
  }
}

.nav__item:not(:last-child) {
  border-bottom: 1px solid #01010133;
}
@media (min-width: 768px) {
  .nav__item:not(:last-child) {
    border: none;
  }
}

.nav__item:not(:first-child) {
  border-top: 1px solid #ffffff33;
}
@media (min-width: 768px) {
  .nav__item:not(:first-child) {
    border: none;
  }
}

.nav__item:last-child {
  padding-bottom: 7px;
  box-shadow: inset 0 -7px 7px -3px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .nav__item:last-child {
    padding-bottom: 0;
    box-shadow: none;
  }
}

.nav__toggle {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 65px;
  height: 56px;
  cursor: pointer;
  border: none;
  background: none;
}
.nav__toggle:hover {
  opacity: 60%;
}
.nav__toggle:active {
  opacity: 30%;
}
@media (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
}

.nav--opened .nav__toggle::after {
  content: "";
  position: absolute;
  background-color: #81b3d2;
  width: 23px;
  height: 22px;
  top: 17px;
  right: 20px;
  background-image: url("../img/cross.svg");
  background-position: center;
}

.nav--closed .nav__toggle::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 22px;
  top: 17px;
  right: 20px;
  background-color: #ffffff;
  background-image: url("../img/menu.svg");
  background-position: center;
}

@media (max-width: 767px) {
  .nav--closed .nav__list {
    display: none;
  }

  .nav--nojs .nav__toggle {
    display: none;
  }
}
.page-footer {
  margin: 0;
}

.page-footer__tag {
  display: block;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 38px;
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .page-footer__tag {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.page-footer__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 31px;
}
@media (min-width: 768px) {
  .page-footer__list {
    margin-bottom: 0;
  }
}

.page-footer__icon {
  fill: #81b3d2;
}
.page-footer__icon:hover {
  fill: #669ec0;
}
.page-footer__icon:active {
  fill: #5496bd;
}

.page-footer__inside-icon {
  fill: #ffffff;
}
.page-footer__inside-icon:active {
  fill: rgba(255, 255, 255, 0.3);
}

.page-footer__item:not(:last-child) {
  margin-right: 6px;
}

.page-footer__list-wrapper {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .page-footer__list-wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 45px;
    margin-right: 42px;
    margin-top: 36px;
    margin-bottom: 47px;
  }
}
@media (min-width: 1200px) {
  .page-footer__list-wrapper {
    margin-left: 104px;
    margin-right: 120px;
  }
}

.page-header {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .page-header {
    position: relative;
  }
}

.page-header__logo-image {
  position: relative;
  display: block;
  height: 96px;
  margin: auto;
  margin-bottom: -40px;
  z-index: 1;
}
@media (min-width: 768px) {
  .page-header__logo-image {
    position: absolute;
    z-index: 1;
    right: 38%;
  }
}
@media (min-width: 1200px) {
  .page-header__logo-image {
    right: 42%;
  }
}

@media (max-width: 767px) {
  .nav--nojs .page-header__logo-image {
    margin-bottom: 0;
  }
}

.radio {
  margin: 0;
}

.radio__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 82px;
}
@media (min-width: 768px) {
  .radio__list {
    display: grid;
    grid-template-columns: 280px 280px;
  }
}
@media (min-width: 1200px) {
  .radio__list {
    grid-template-columns: 280px 280px 280px;
  }
}

.radio__item {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 35px;
}

.radio__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding-top: 24px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .radio__title {
    position: relative;
    margin-bottom: 38px;
    margin-left: 183px;
  }

  .radio__title::before {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    left: -185px;
    top: 35px;
  }

  .radio__title::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    left: 340px;
    top: 35px;
  }
}
@media (min-width: 1200px) {
  .radio__title {
    position: relative;
    margin-bottom: 55px;
    margin-left: 330px;
  }

  .radio__title::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
    left: -350px;
    top: 35px;
  }

  .radio__title::after {
    content: "";
    position: absolute;
    width: 270px;
    height: 1px;
    background-color: #dbdbdb;
    left: 340px;
    top: 35px;
  }
}
.radio__option {
  position: relative;
}

.radio__mark {
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 50%;
  left: -70px;
  top: -10px;
}
.radio__mark:hover {
  background-color: #e5e5e5;
}

.radio__input[type=radio]:focus + .radio__mark {
  background-color: #d5d5d5;
}

.radio__input[type=radio]:checked + .radio__mark::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 16px;
  background-image: url("../img/radiocircle.svg");
  background-repeat: no-repeat;
  top: 15px;
  left: 15px;
}

.review {
  margin: 0;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .review {
    display: grid;
    grid-template-columns: 324px 324px;
    padding: 0;
    padding-left: 60px;
    padding-right: 60px;
    margin: auto;
    margin-bottom: 100px;
  }
}
@media (min-width: 1200px) {
  .review {
    grid-template-columns: 480px 480px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

.review__button {
  display: block;
  background: #81b3d2;
  color: #ffffff;
  text-decoration: none;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  border: 0;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 14px;
  min-width: 281px;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.review__button:hover {
  background-color: #669ec0;
}
.review__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.review__button:disabled {
  background-color: #e5e5e5;
}
@media (min-width: 1200px) {
  .review__button {
    margin-left: 95px;
  }
}

.review__rule {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 21px;
  color: #000000;
  opacity: 60%;
  margin: 0;
  text-align: end;
}
@media (min-width: 768px) {
  .review__rule {
    font-size: 14px;
    line-height: 21px;
    display: block;
    padding-top: 20px;
  }
}
@media (min-width: 1200px) {
  .review__rule {
    margin-right: 95px;
  }
}

.review__radio {
  margin: auto;
  position: relative;
}
.review__radio::after {
  content: "";
  position: absolute;
  width: auto;
  height: 1px;
  background-color: #e5e5e5;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: -20%;
  margin-right: -20%;
}
@media (min-width: 768px) {
  .review__radio::after {
    display: none;
  }
}
@media (min-width: 768px) {
  .review__radio {
    grid-column: 1/3;
  }
}

.review__check {
  margin: 0 auto;
  position: relative;
}
.review__check::after {
  content: "";
  position: absolute;
  width: auto;
  height: 1px;
  background-color: #e5e5e5;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: -20%;
  margin-right: -20%;
}
@media (min-width: 768px) {
  .review__check::after {
    display: none;
  }
}
@media (min-width: 768px) {
  .review__check {
    grid-column: 1/3;
  }
}

.review__area {
  grid-column: 1/3;
  margin: 0 auto;
}

.review__name {
  position: relative;
}
.review__name::after {
  content: "";
  position: absolute;
  min-width: 320px;
  height: 1px;
  background-color: #e5e5e5;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: -10%;
  margin-right: -10%;
}
@media (min-width: 768px) {
  .review__name::after {
    display: none;
  }
}
@media (min-width: 768px) {
  .review__name {
    padding-right: 43px;
  }
}
@media (min-width: 1200px) {
  .review__name {
    padding: 0;
  }
}

.review__contacts {
  position: relative;
}
.review__contacts::after {
  content: "";
  position: absolute;
  min-width: 320px;
  height: 1px;
  background-color: #e5e5e5;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: -10%;
  margin-right: -10%;
}
@media (min-width: 768px) {
  .review__contacts::after {
    display: none;
  }
}
@media (min-width: 768px) {
  .review__contacts {
    padding-left: 44px;
  }
}
@media (min-width: 1200px) {
  .review__contacts {
    padding-left: 78px;
  }
}

.search {
  margin: 0;
  text-transform: uppercase;
}

.search__title {
  display: block;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 33px;
}
@media (min-width: 768px) {
  .search__title {
    font-size: 30px;
    line-height: 26px;
  }
}

.search__description {
  display: block;
  margin: 0;
  margin-left: 29px;
  margin-right: 30px;
  margin-bottom: 32px;
  text-align: center;
}
@media (min-width: 768px) {
  .search__description {
    width: 435px;
    margin: auto;
    margin-bottom: 41px;
    font-size: 14px;
    line-height: 21px;
  }
}

.search__link {
  display: block;
  background: #81b3d2;
  color: #ffffff;
  text-decoration: none;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  padding: 16px;
  max-width: 284px;
  margin: auto;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .search__link {
    min-width: 458px;
    margin: auto;
  }
}
.search__link:hover {
  background-color: #669ec0;
}
.search__link:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.search__link:disabled {
  background-color: #e5e5e5;
}

.search__wrapper {
  padding-top: 40px;
  padding-bottom: 48px;
}
@media (min-width: 768px) {
  .search__wrapper {
    padding-top: 61px;
    padding-left: 165px;
    padding-right: 165px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.sedona {
  margin: 0;
}

.video {
  margin: 0;
  position: relative;
}

.video__title {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  margin-top: 17px;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .video__title {
    font-size: 30px;
    line-height: 26px;
  }
}

.video__desc {
  display: block;
  margin: 0;
  margin-bottom: 38px;
  text-transform: uppercase;
  text-align: center;
  max-width: 266px;
}
@media (min-width: 768px) {
  .video__desc {
    max-width: 470px;
    margin: 0 auto;
    margin-left: 161px;
    margin-right: 161px;
    margin-bottom: 66px;
  }
}
@media (min-width: 1200px) {
  .video__desc {
    margin-left: 377px;
  }
}

.video__img {
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .video__img {
    width: 648px;
    height: 500px;
  }
}
@media (min-width: 1200px) {
  .video__img {
    width: 800px;
  }
}

.video__play {
  position: absolute;
  top: 60%;
  left: 45%;
}

html {
  background-color: #e7e5e5;
  margin: 0;
}

body {
  background-color: #ffffff;
  min-width: 320px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  height: 100%;
}

h2 {
  margin: 0;
}

fieldset {
  border: 0;
  padding: 0;
}

input {
  outline: 0;
}
/*# sourceMappingURL=style.css.map */