.catalog {
  margin: 0 auto;
}

.catalog__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    margin: auto;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 62px;
    grid-template-columns: 400px 400px 400px;
  }
}

.catalog__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-top: 15px;
  padding-right: 27px;

  @media (min-width: $tablet-width) {
    background-color: #f2f2f2;
    padding-top: 22px;
    padding-left: 20px;
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 80px;
      background-color: #000000;
      opacity: 30%;
      left: 0;
      bottom: 0;
    }
  }
}

.catalog__wrapper--dark {
  @media (min-width: $tablet-width) {
    background-color: #eaeaea;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.catalog__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.catalog__desc {
  margin: 0;
}

.catalog__likes {
  font-weight: 700;
  margin: 0;
}

.catalog__button {
  cursor: pointer;
  border: 0;
  display: inline-block;
  background: none;
}

.catalog__item {
  position: relative;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    bottom: 0;
    left: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.catalog__item--big {
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/4;
  }
}

.catalog__video {
  padding-left: 20px;
  padding-right: 20px;
}

.catalog__image {
  display: block;
  width: 100%;
  height: auto;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 267px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    height: 267px;
    margin-bottom: -80px;
  }
}

.catalog__image--big {
  display: block;

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 400px;
  }
}

.catalog__icon {
  fill: #000000;
  opacity: 30%;

  @media (min-width: $desktop-width) {
    fill: #ffffff;
    opacity: 100%;
  }
}
