.check {
  margin: 0;
}

.check__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 49px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 259px 232px;
    margin-left: 140px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 236px 236px 220px 236px;
    margin-left: 116px;
  }
}

.check__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding-top: 22px;
  text-align: center;
  margin-bottom: 30px;
}


@media (min-width: $tablet-width) {
  .check__title {
    position: relative;
    font-size: 21px;
    margin-bottom: 38px;
    margin-right: 263px;
  }

  .check__title::before {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    left: -185px;
    top: 48px;
  }

  .check__title::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    left: 335px;
    top: 50px;
  }
}

@media (min-width: $desktop-width) {
  .check__title {
    position: relative;
    margin-left: -42px;
    margin-bottom: 69px;
    margin-right: 447px;
    padding-top: 45px;
  }

  .check__title::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
    left: -330px;
    top: 70px;
  }

  .check__title::after {
    content: "";
    position: absolute;
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
    left: 340px;
    top: 70px;
  }
}

.check__item {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 35px;

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.check__label {
  display: block;
  position: relative;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    margin-left: -2px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -8px;
  }
}

.check__mark {
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 4px;
  left: -70px;
  top: -10px;

  &:hover {
    background-color: #e5e5e5;
  }
}

.check__input[type="checkbox"]:focus + .check__mark {
  background-color: #d5d5d5;
}

.check__input[type="checkbox"]:checked + .check__mark::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 16px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  top: 13px;
  left: 15px;
}
