.content {
  margin: 0;
  text-transform: uppercase;
}

.content__title {
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 auto;
  max-width: 282px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    max-width: 520px;
    margin-top: 47px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 59px;
    max-width: 483px;
    margin-left: 356px;
    margin-bottom: 32px;
  }
}

.content__description {
  display: block;
  margin: 0 auto;
  max-width: 282px;
  text-align: center;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    max-width: 520px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
  }
}
