html {
  background-color: #e7e5e5;
  margin: 0;
}

body {
  background-color: #ffffff;
  min-width: 320px;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  height: 100%;
}

h2 {
  margin: 0;
}

fieldset {
  border: 0;
  padding: 0;
}

input {
  outline: 0;
}
