.main {
  margin: 0;
}

.main__pic {
  background-color: #81b3d2;
  background-image: url("../img/backmob1.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  background-size: cover;
}

.main__image {
  display: block;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 85px;
}
