.main {
  margin: 0;
}

.main__pic {
  position: relative;
  background-color: #81b3d2;
  background-image: url("../img/backmob1.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  background-size: cover;
  background-position: 45%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backmob@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/backdesktop.jpg");
    background-position-y: 30%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backdesktop@2x.jpg");
      background-size: 1200px auto;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/dev1.svg");
    width: 50%;
    height: 57px;
    background-repeat: no-repeat;
    background-position: right;
    bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/dev2.svg");
    width: 50%;
    height: 57px;
    background-repeat: no-repeat;
    background-position: left;
    bottom: 0;
    right: 0;
  }
}

.main__image {
  display: block;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 85px;

  @media (min-width: $tablet-width) {
    width: 461px;
    height: 350px;
    padding-top: 77px;
    padding-bottom: 90px;
  }
}
