.modal {
  position: fixed;
  margin: 0 auto;
  background-color: #ffffff;
  z-index: 10;
  text-align: center;
}

.modal--one {
  bottom: 677px;

  @media (min-width: $tablet-width) {
    max-width: 400px;
    left: 30%;
  }

  @media (min-width: $desktop-width) {
    left: 35%;
  }
}

.modal--two {
  bottom: 348px;

  @media (min-width: $tablet-width) {
    max-width: 640px;
    left: 20%;
  }

  @media (min-width: $desktop-width) {
    left: 25%;
  }
}

.modal__title {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }
}

.modal__descript {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.modal__descript--one {
  min-width: 237px;

  @media (min-width: $tablet-width) {
    min-width: 307px;
  }
}

.modal__descript--two {
  min-width: 244px;

  @media (min-width: $tablet-width) {
    min-width: 444px;
  }
}

.modal__close {
  display: block;
  background: #81b3d2;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  border: 0;
  padding-top: 18px;
  padding-bottom: 14px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.modal__close--one {
  padding-left: 63px;
  padding-right: 63px;

  @media (min-width: $tablet-width) {
    padding-left: 107px;
    padding-right: 107px;
  }
}

.modal__close--two {
  padding-left: 61px;
  padding-right: 61px;

  @media (min-width: $tablet-width) {
    padding-left: 140px;
    padding-right: 140px;
  }
}

.modal__wrapper {
  text-align: center;
}

.modal__wrapper--one {
  padding-top: 45px;
  padding-left: 41px;
  padding-right: 41px;
  padding-bottom: 35px;
}

.modal__wrapper--two {
  padding: 39px;
}

.modal--close {
  display: none;
}
