.name {
  margin: 0;
}

.name__field {
  position: relative;
}

.name__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin-bottom: 20px;
}

.name__write {
  border: 0;
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  padding: 16px;
  width: 90%;
  margin-bottom: 37px;
}

.name__lable {
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: -23px;
  left: 14px;
}
