.page-footer {
  margin: 0;
}

.page-footer__tag {
  display: block;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 38px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.page-footer__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 47px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__item:not(:last-child) {
  margin-right: 6px;
}

.page-footer__list-wrapper {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 45px;
    margin-right: 42px;
    margin-top: 36px;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 104px;
    margin-right: 120px;
  }
}
