.page-footer {
  margin: 0;
}

.page-footer__tag {
  display: block;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 38px;
  margin-bottom: 34px;
}

.page-footer__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  margin-bottom: 47px;
  padding: 0;
}

.page-footer__item:not(:last-child) {
  margin-right: 6px;
}
