.page-header {
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.page-header__logo-image {
  display: block;
  height: 96px;
  margin: auto;
  margin-bottom: -40px;

  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: 1;
    right: 38%;
  }
}
