.page-header {
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.page-header__logo-image {
  position: relative;
  display: block;
  height: 96px;
  margin: auto;
  margin-bottom: -40px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: 1;
    right: 38%;
  }

  @media (min-width: $desktop-width) {
    right: 42%;
  }
}

.nav--nojs .page-header__logo-image {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 0;
  }
}

.page-header__logo {
  width: 185px;
  height: 96px;
  z-index: 10;

  &:hover {
    border: solid 4px #e5e5e5;
  }

  &:focus {
    border: solid 4px #e5e5e5;
  }

  &:active {
    border: solid 4px #e5e5e5;
  }
}
