.radio {
  margin: 0;
}

.radio__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 82px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 280px 280px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 280px 280px 280px;
  }
}

.radio__item {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 35px;
}

.radio__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding-top: 24px;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .radio__title {
    position: relative;
    margin-bottom: 38px;
    margin-left: 183px;
  }

  .radio__title::before {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    left: -185px;
    top: 35px;
  }

  .radio__title::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    left: 340px;
    top: 35px;
  }
}

@media (min-width: $desktop-width) {
  .radio__title {
    position: relative;
    margin-bottom: 55px;
    margin-left: 330px;
  }

  .radio__title::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
    left: -350px;
    top: 35px;
  }

  .radio__title::after {
    content: "";
    position: absolute;
    width: 270px;
    height: 1px;
    background-color: #dbdbdb;
    left: 340px;
    top: 35px;
  }
}

.radio__option {
  position: relative;
}

.radio__mark {
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 50%;
  left: -70px;
  top: -10px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
  }
}

.radio__input[type="radio"]:checked + .radio__mark::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 16px;
  background-image: url("../img/radiocircle.svg");
  background-repeat: no-repeat;
  top: 15px;
  left: 15px;
}
