.search {
  margin: 0;
  text-transform: uppercase;
}

.search__title {
  display: block;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 26px;
  }
}

.search__description {
  display: block;
  margin: 0;
  margin-left: 29px;
  margin-right: 30px;
  margin-bottom: 32px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 435px;
    margin: auto;
    margin-bottom: 41px;
    font-size: 14px;
    line-height: 21px;
  }
}

.search__link {
  display: block;
  background: #81b3d2;
  color: #ffffff;
  text-decoration: none;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  padding: 16px;
  max-width: 284px;
  margin: auto;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    min-width: 458px;
    margin: auto;
  }

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.search__wrapper {
  padding-top: 40px;
  padding-bottom: 48px;

  @media (min-width: $tablet-width) {
    padding-top: 61px;
    padding-left: 165px;
    padding-right: 165px;
  }
}
