@import "font.scss";
@import "page.scss";
@import "body.scss";
@import "area.scss";
@import "benefits.scss";
@import "button.scss";
@import "catalog.scss";
@import "check.scss";
@import "contacts.scss";
@import "content.scss";
@import "creators.scss";
@import "fonts.scss";
@import "form.scss";
@import "lead.scss";
@import "main.scss";
@import "main-content.scss";
@import "map.scss";
@import "modal.scss";
@import "modal-close.scss";
@import "name.scss";
@import "nav.scss";
@import "page-footer.scss";
@import "page-header.scss";
@import "radio.scss";
@import "review.scss";
@import "search.scss";
@import "style.scss";
@import "visually-hidden.scss";
@import "sedona.scss";
@import "video.scss";

html {
  background-color: #e7e5e5;
  margin: 0;
}

body {
  background-color: #ffffff;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

h2 {
  margin: 0;
}
