.video {
  margin: 0;
  position: relative;
}

.video__title {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  margin-top: 14px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 32px;
  }
}

.video__desc {
  display: block;
  margin: 0 auto;
  margin-bottom: 38px;
  text-transform: uppercase;
  text-align: center;
  max-width: 266px;

  @media (min-width: $tablet-width) {
    max-width: 470px;
    margin: 0 auto;
    margin-left: 142px;
    margin-right: 142px;
    margin-bottom: 88px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 345px;
  }
}

.video__img {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.video__play {
  position: absolute;
  top: 65%;
  left: 45%;
  fill: #ffffff;

  @media (min-width: $tablet-width) {
    top: 60%;
    left: 47%;
  }

  @media (min-width: $desktop-width) {
    top: 59%;
    left: 48%;
  }
}
